@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600;900&display=swap');

//$font-primary: 'Roboto', sans-serif;
$font-primary: 'barlow', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-barlow:'barlow', sans-serif;
$font-jost:'Jost', sans-serif;
$font-thunder: 'Thunder Nova', sans-serif;

@font-face {
    font-family: "Thunder Nova";
    src: url("../fonts/thundernova.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



.font-thunder{
    font-family: $font-thunder;
}