.window-app {
  font-family: $font-primary;  
  .window-content{    
    background: unset;
    background-color: #f5f1e6;
  }
}



.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.outgunned-chat-message{
  h2{
    border: none;
    font-family: $font-thunder;
  }
  .dice-group{
    display:flex;
    flex-direction:row;
    align-items: center;
    &.dice-selected{
      //border: 2px solid white;
      //background-color: grey;
      background: repeating-linear-gradient(
        315deg,
        #e7d7d7,
        #e7d7d7 5px,
        $c-red 5px,
        $c-red 10px
      );
      opacity: 0.3;
    }
    .success-label{
      font-family: $font-thunder;
      font-style: italic;
      color: $c-red;
    }
  }
  .no-successes{
    font-family: $font-thunder;
    font-size: 1.2em;
    font-style: italic;
    color: $c-red;
  }
}

.dice-icon{
  cursor: pointer;
  position: relative;
  max-width: 28px;
  min-width: 28px;
  line-height: 28px;
  float: left;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-color: red;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  margin: 0.1em;
  &.d1{
    background-image: url(../assets/dice/white-1.webp);
  }
  &.d2{
    background-image: url(../assets/dice/white-2.webp);
  }
  &.d3{
    background-image: url(../assets/dice/white-3.webp);
  }
  &.d4{
    background-image: url(../assets/dice/white-4.webp);
  }
  &.d5{
    background-image: url(../assets/dice/white-5.webp);
  }
  &.d6{
    background-image: url(../assets/dice/white-6.webp);
  }
}