.window-app {
	font-family: $font-primary;
	.window-content {
		background: unset;
		background-color: $c-beige;
	}
}

.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}



.chat-message {
  background-image: unset;
  background-color: $c-beige;
}

.outgunned-chat-message {
  background-color: $c-beige;
  opacity: 1;
  // parent
   button{
    font-family: $font-thunder;
    font-size: 1.3rem;
    color: $c-white;
    background-color: $c-red;
   }
	.roll-info {
		display: flex;
		align-items: baseline;
		gap: 1em;
		font-style: italic;
		.roll-name {
			border: none;
			font-family: $font-thunder;
			color: $c-red;
		}
		.roll-type {
			border: none;
			font-family: $font-thunder;
			color: $c-red;
		}
		.gamble {
			font-family: $font-barlow;
			color: $c-white;
			background-color: $c-red;
			padding: 0.25rem;
		}
	}

	.dice-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		&.dice-selected {
			//border: 2px solid white;
			//background-color: grey;
			background: repeating-linear-gradient(315deg, #e7d7d7, #e7d7d7 5px, $c-red 5px, $c-red 10px);
			opacity: 0.3;
		}
		.success-label {
			font-family: $font-thunder;
			font-style: italic;
			color: $c-red;
		}
	}
	.no-successes {
		font-family: $font-thunder;
		font-size: 1.2em;
		font-style: italic;
		color: $c-red;
	}
}

.dice-icon {
	cursor: pointer;
	position: relative;
	max-width: 28px;
	min-width: 28px;
	line-height: 28px;
	float: left;
	margin-right: 1px;
	//background-repeat: no-repeat;
	//background-size: 28px 28px;
	background-color: $c-red;
	font-size: 16px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-align: center;
	margin: 0.1em;
	border: none;
  opacity: 0; 

	&.dice-in {
    animation-fill-mode: forwards!important;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}n) {
				animation-delay: #{$i * 0.07}s;
			}
		}
		
		@include keyframes(fade) {
			 from { opacity: 0;left: 100px;}
       to { opacity: 1; left: 0px;}
		}
		@include animate(fade, 0.17s, cubic-bezier(.99,.80,.20,.99), 1);
	}
}
