<div class="outgunned-chat-message">
    <div class="content">
        <h2><em>{{rollName}}</em></h2>
        <div style="display:flex; flex-direction:column">
            {{#each groupedResults}}
            <div style="display:flex; flex-direction:row">
                {{#each this}}
                    <span class="dice-icon d{{this}}">&nbsp;</span>      
                {{/each}}
            </div>
            {{/each}}
        </div>     
        <!-- <ul class="dices-result">
            {{#each successes as |value key|}}
            <li>{{key}} : {{value}}</li>
            {{/each}}
        </ul> -->
        {{#if isSuccesses}}
        <div class="flexrow">
            <button class="reroll-button">{{localize "OUTGUNNED.UI.REROLL"}}</button>
            <button class="free-reroll-button">{{localize "OUTGUNNED.UI.FREEREROLL"}}</button>
            <button class="all-in-button">{{localize "OUTGUNNED.UI.ALLIN"}}</button>
        </div>
        {{/if}}
    </div>
</div>