<div class="outgunned-chat-message">
    <div class="content">
        <h2><em>{{rollName}}</em></h2>
        <div style="display:flex; flex-direction:column">
            {{#each groupedResults}}
            <div class="dice-group" data-dice-type="{{getDicegroupType this}}" data-group-length="{{this.length}}">
                {{#each this}}
                    <span class="dice-icon d{{this}}">&nbsp;</span>      
                {{/each}}
                <span class="success-label">&nbsp;{{getSuccessLevelLabel this.length}}</span>
            </div>
            {{/each}}
        </div>     
        <!-- <ul class="dices-result">
            {{#each successes as |value key|}}
            <li>{{key}} : {{value}}</li>
            {{/each}}
        </ul> -->

        {{#unless isSuccess}}
            {{#ifCond rollType "==" "initial"}}
                <p class="no-successes">No successes</p>
            {{/ifCond}}
            {{#ifCond rollType "==" "reroll"}}
                <p class="no-successes">No new successes after RE-ROLL</p>
            {{/ifCond}}
            {{#ifCond rollType "==" "freeReroll"}}
                <p class="no-successes">No additional successes after FREE RE-ROLL</p>
            {{/ifCond}}
            {{#ifCond rollType "==" "discard"}}
                <p class="no-successes">No successes after DISCARD</p>
            {{/ifCond}}
            {{#ifCond rollType "==" "allIn"}}
                <p class="no-successes">No new successes after ALL IN. Ignore all previous successes</p>
            {{/ifCond}}
        {{/unless}}

        <div class="flexrow">            
            <!-- <p>REROLL: {{showReroll}}, FREE: {{showFree}}, DISCARD: {{showDiscard}}, ALLIN: {{showAllIn}} </p> -->
            {{#if showReroll}}
                <button class="reroll-button">{{localize "OUTGUNNED.UI.REROLL"}}</button>
            {{/if}}
            {{#if showFree}}
                <button class="free-reroll-button">{{localize "OUTGUNNED.UI.FREEREROLL"}}</button>
            {{/if}}
            {{#if showDiscard}}
                <button class="discard-button">{{localize "OUTGUNNED.UI.DISCARD"}}</button>
            {{/if}}
            {{#if showAllIn}}
                <button class="all-in-button">{{localize "OUTGUNNED.UI.ALLIN"}}</button>
            {{/if}}
        </div>
    </div>
</div>