// Section Header
.items-header {
  //height: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: $border-groove;
  font-weight: bold;
  > * {
    font-size:0.7em;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 0.8em;
    text-align: left;
    align-items: center;
    display: flex;
    h3, h4 {
      font-family: $font-barlow;
      font-size: 0.8rem;
      font-weight: 600;
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;      
    }
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;
    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    //align-items: center;
    //padding: 0 2px; // to align with the header border
    //border-bottom: 1px solid $c-faint;
    //&:last-child { border-bottom: none; }
    
    .item-name {
      color: $c-dark;
      
    }
    .item-image {
      flex: 0 0 25px;
      height: 25px;
      background-size: 30px;
     //border: none;
      margin-right: 5px;
    }
  }

  .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  // Section Header
  .items-header {
    //height: 28px;
    //margin: 2px 0;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background:none;
    //border: $border-groove;
    border: none;
    //color: $c-white;
    font-weight: bold;
    > * {
      font-size: 0.7em;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }

  .item-description{
    font-size: 0.8rem;
  }
}

/* Example style for Outgunned (can be removed if not needed) */
.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.feat, .gear{
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: solid 3px $c-red ;
  .item-image, .item-name, .item-description, p {
    display: inline;
    vertical-align: bottom;
    font-size: 1em;
    //line-height: 28px;    
  }
  h4 {
      font-weight: 600;
      font-size:1em;
      display: inline;
      vertical-align: bottom;
  }
}

.weapon{
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: solid 3px $c-red ;
  .item-name{
    font-size: 1em;
    font-weight: 600;
  }
  .item-ranges{
    // 4 boxes here
    font-size: 1rem;
    .range-band{
      //margin: 0 0.5rem;
    }
  }
  .item-ammo{
    //ammo boxes
  }
}